<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shivam.project1">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/womenlogo"
        android:label="Women Safety"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:windowSoftInputMode="stateHidden|adjustPan"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity android:name=".Splash"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3_x8LFqGJhkWZBba-miMGID2m-tnuNiI" />

        <activity
            android:name=".register"
            android:theme="@style/NoActionBarTheme" >

        </activity>

        <service
            android:name=".TrackerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".details"
            android:theme="@style/NoActionBarTheme" />

        <service android:name=".ShakeService" />

        <activity android:name=".fragmentAddSafetyRatings" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".List" />
        <activity android:name=".FollowContact" />
    </application>

</manifest>